
.about {
    &__container {
        max-width: 600px;
        margin: 1em;   
    }

    &__image-container {
        display:flex;
        align-content:center;
    }

    &__color-block {
        background: rgb(181,26,160);
        background: linear-gradient(90deg, rgba(181,26,160,1) 9%, rgba(232,37,120,1) 46%, rgba(181,26,160,1) 100%);
        border-radius: 5px;
        margin:0 auto;
        height: 8em;
        width: 8em;
    }

    &__image {
        margin-left: .5em;
        margin-top:.5em;
        margin-right: -.5em;
        height: 8em;
        width: 8em;
        border-radius:5px;
        filter: grayscale(100%);
    }

    &__content {
        margin-top: 3em;
    }
}

p {
    font-size: .8em;
    margin-bottom: 1em;

    &:first-child {
        font-weight: 700;
    }
}

.highlight {
    color: var(--text-highlight);
    font-weight: 700;
}




@media (min-width: 576px) {
    .about {
        &__container {
            margin: 0;
            padding: 0;
            margin: 2em auto;
        }

        &__color-block {
            height: 10em;
            width: 10em;
        }

         &__image {
            height: 10em;
            width: 10em;
        }
    }

    p {
        font-size: 1.1em;
        line-height: 1.8;
    }
}

@media (min-width: 768px) {
   .about {
        &__container {
            margin: 0;
            padding: 0;
            margin: 2em auto;
        }
    }
}
@media (min-width: 1200px) {
    .about {

        &__container {
            margin: 0;
            padding: 0;
            margin: 2em auto;
        }
    }
}