
.hero {
  display:flex;
  flex-direction:column;
  align-items: center;
  padding:1em;

  &__container {
    max-width: 1200px;
    padding: 0 16px;
    margin: 1em;
  }

  &__content {
    font-size: 1em;
    font-weight:700;
    margin-bottom: .8em
  }

  &__image-container {
     display:flex;
     align-content:center;
  }

  &__color-block {
    background: rgb(181,26,160);
    background: linear-gradient(90deg, rgba(181,26,160,1) 9%, rgba(232,37,120,1) 46%, rgba(181,26,160,1) 100%);
    border-radius: 5px;
    margin:0 auto;
    height: 10em;
    width: 10em;
  }

  &__image {
    margin-left: .5em;
    margin-top:.5em;
    margin-right: -.5em;
    height: 10em;
    width: 10em;
    border-radius:5px;
    filter: grayscale(100%);
  }

  &__em {
    color: var(--text-highlight);
    
    &-plus {
      font-family: "Playfair Display", Times, serif;
      font-weight: 700;
      font-style: italic;
      font-size: 1em;
      color: var(--text-highlight);

    }
  }

 
}

@media (min-width: 576px) {
    .hero {
      padding:2em;

      &__container {
        margin: 2em;
      }

      &__content {
        font-size:1.5em;
        font-weight:700;
        margin-right: 1em;
      }

      &__color-block {
        height: 11em;
        width:11em;
      }

      &__image {
        display:inline-block;
        border-top-right-radius: 2px;
        border-top-left-radius: 2px;
        height: 11em;
        width:11em;
      }
    }
}

@media (min-width: 768px) {

  .hero {
    font-size: 16px;
    flex-direction:row;
    align-content:center;
    padding:3em 1em;

    &__container {
      margin: 2em;
    }

    &__content {
      max-width: 60%;
      font-size: 1.8em;
      font-weight: 700;
      color: var(--app-alt-dark);
       margin-right: 2em;
    }

    &__color-block {
      height: 12em;
      width: 12em;
    }

    &__image {
      display:inline-block;
      border-top-right-radius: 2px;
      border-top-left-radius: 2px;
      height: 12em;
      width:12em;
    }
  }
}

@media (min-width: 1200px) {
  .hero {
    font-size: 1.2em;
    flex-direction:row;
    align-content:center;
    padding:3em 1em;

    &__container {
      margin: 0 auto;
    }

    &__content {
      max-width: 60%;
      font-size: 2.5em;
      font-weight: 700;
      color: var(--app-alt-dark);
      margin-right: 2em;
    }

    &__color-block {
      height: 18em;
      width: 18em;
    }

    &__image {
      display:inline-block;
      border-top-right-radius: 2px;
      border-top-left-radius: 2px;
      height: 18em;
      width: 18em;
    }
  }
}