
.card {
  border-radius: 5px;
  display:inline-block;
  padding: 1em;

  &__image-container {
    text-align:center;
    padding:10px;
  }

  &__image{
    max-width: 100%;
    max-height: 100%;
    padding-top:1.6em;
  }

  &__title {
    font-family: 'Playfair Display', serif;
    font-size: 1.8em;
    font-weight:700;
  }

  &__type {
    font-size: 1em;
  }

  &__overview, &__content {
    font-size: 1em;
    padding-bottom: 1em;
  }

  &__detail-section {
    margin-bottom: 1em;
  }

  &__info {
    padding: 10px;
  }
 
  &__detail-list-container {
    display:inline-block;
    width: 100%;
  }
}

.green {
  background-color: var(--highlight-12);
}

.yellow {
  background-color: var(--highlight-11);
}

.peach {
  background-color: var(--highlight-14);
}

.blue {
  background-color: var(--highlight-10);
}

.macbook {
  border: 1em solid white;
  border-radius: 10px;
}

.iphone {
      height: 15em;
  border: 1em solid white;
  border-radius: 10px;
}

.view-code {
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
}

.view-project {
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
}

.not-visible {
  visibility:hidden;

}

@media (min-width: 576px) {
     .card {
       margin:1em 2em;
       padding:2em;
    
        &__overview {
            /* height:4em; */
            font-size: 1.2em;
        }

        &__title {
          font-size: 28px;
        }
    }
}


@media (min-width: 768px) {

   .card {
      margin:initial;
      padding:2em; 
    
        &__overview {
            /* height:8em; */
        }

        &__title {
          font-size: 28px;
        }
    }

  &__detail-section {
    display:flex;
  }

}

@media (min-width: 900px) {

  .card {
    &__type {
      font-size: 1.3em;
    }
  }
}

@media (min-width: 1200px) {
  .card {
    &__type {
      font-size: 1em;
    }

    &__content {
      font-size: 1em;
      margin-bottom: .2em;
    }
  }
}