
.tech {
    display:flex;
    justify-content:center;
    align-items:center;
    width:100%;
    margin-bottom: 10px;

    & ul {
        display:flex;
        flex-direction:row;
        justify-content:center;
        width:100%;
        margin:0 auto;
    }

    &__container {
        display:flex;
        flex-direction:column;
        align-items:center;
        height:100%;;
        padding:5px;
         
    }

    &__item {
        height:100%;
        max-width:100%;
        margin-bottom:5px;
        text-align:center;
    }

    &__item-name{
        display:none;
    }
}


@media (min-width: 768px) {
}

@media (min-width: 1200px) {
    .tech {

        &__container {
            max-width: 15%;

        }

        
        &__item-name{
            font-size: .7em;
            display:block;
        }

        & ul {
            align-items:center;
            flex-wrap:wrap;

        }
    }
}