/* .container {
  max-width: 1200px;
  padding: 0 16px;
  margin: auto;
} */

.App {
  padding:5px; 
}

.container {
  height: 100%;
  width:100%;
}

.projects {
  padding: 16px 0;

  &__grid-container {
    display:grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 10px;
  }
}

.btn {
  width: auto;
  font-size: 1em;
  padding:5px 10px;
  min-width: 100px;
  border-radius: 2px;

  &__container {
    display:flex;
    justify-content:center;
    width: 100%;
    margin-bottom:8px;
  }

  &__dark {
    color: var(--app-white);
    background: var(--text-highlight-darker);
    min-width: 134px;
    border: 2px solid var( --text-highlight-darker);

    &:hover {
      cursor: pointer;
      background-color: var( --text-highlight);
      border: 2px solid var( --text-highlight);
    } 
  }

  &__light, &__light-wide {
    color: var(--text-highlight-darker);
    background: var(--app-white);
    min-width: 134px;
    border: 2px solid var(--text-highlight-darker);

  &:hover {
    cursor: pointer;
    color: var(--app-white);
    background-color: var(--text-highlight-darker);
    border: 2px solid var(--text-highlight-darker);
  }
 }
}

  /* &__btn-light, &__light-wide {
    color: var(--highlight-3);
    background: var(--app-white);
    min-width: 134px;
    border: 2px solid var(--highlight-3);

    &:hover {
      cursor: pointer;
      color: var(--background-color);
      background-color: var(--highlight-3);
      border: 2px solid var(--highlight-3);
    }*/
  
  

.project h2 {
  text-align: center;
}

.project__content {
  max-width: 900px;
  padding: 0 16px;
  margin: auto;
}

@media (min-width: 768px) {
  .projects__grid-container {
    grid-template-columns: repeat(2, 1fr);
  }

}

@media (min-width: 1200px) {
  .projects__grid-container {
    grid-template-columns: repeat(3, 1fr);
  }

  .container {
    max-width: 1200px;
    padding: 0 16px;
    margin: auto;
  }

  .btn-dark, .btn-light {
    font-size: 1em;
    min-width: 150px;
  }

}