* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  line-height: 1.5;
}

a {
  text-decoration: none;
  color: #AF473C;
}

/* .container {
  max-width: 1200px;
  padding: 0 16px;
  margin: auto;
} */

.nav {
  padding: 10px 0;
}

.hero {
 /*  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url('https://images.unsplash.com/photo-1558981852-426c6c22a060?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&w=1000&q=80');
 */  
  height: 200px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color:var(--dark-accent);
  color: var(--white);
  font-size: 14px;
}

.img__primary {
  height: 75px;
  margin: 5px;
}

.projects {
  padding: 16px 0;
}

.projects-grid-container {
  display:grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 10px;
}

.card {
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.125);
}

.card-image {
  height: 15em;
  border-top-right-radius: 2px;
  border-top-left-radius: 2px;
}

.card-info {
  padding: 20px;
}

.card-info .card-title {
  font-size: 22px;
  font-weight: 700;
  margin-bottom: 10px;
}

.project h2 {
  text-align: center;
}

.project-content {
  max-width: 900px;
  padding: 0 16px;
  margin: auto;
}

@media (min-width: 768px) {
  .projects-grid-container {
    grid-template-columns: repeat(2, 1fr);
  }

  .hero {
    height: 300px;
    font-size: 16px;
  }

  .img__primary {
    height: 100px;
    margin: 5px;
  }
}

@media (min-width: 1200px) {
  .projects-grid-container {
    grid-template-columns: repeat(3, 1fr);
  }

  .container {
    max-width: 1200px;
    padding: 0 16px;
    margin: auto;
  }

  .hero {
    height:200px;
    font-size: 14px;
  }

  .img__primary {
    height: 75px;
    margin: 5px;
  }
}