@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

 :root{
    --darkest-color: #3C3C3C;
    --background-color:#F2F3FC;
    --background-color-contrast: #DEE0EE;
    --body-text: #150359;
    --text-highlight:#D63F29;
    --highlight-2: #9BF4DC;
    --highlight-3:#3745E4;
    --light-accent: #AF473C;
    --dark-accent: #AD6C71;
    --white: #fffff; 
}

body {
  margin: 0;
  font-family: 'Raleway', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--white);
  color: var(--body-text);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}




/* a {
  color:inherit;
  text-decoration:inherit; */

 /*  &:link {
    color: var(--dark-accent);
  }
  &:visited {
    text-decoration: none;
  }
  &:hover {
    color: var(--light-accent);
  }
  &:active {
    color: var(--light-accent);
  } */
/* }

H1,
H2,
H3,
H4 {
  color: var(--dark-accent);
}

 */