@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

 :root{
    --background-color-dark: #BFC5D9;
    --background-color-light: #F2F3FC;
    --app-white: #ffffff; 
    --app-very-dark: #150359;
    --app-alt-dark: #364FD9;
    --strong-highlight: #D93A2B;


    --text-highlight:#D63F29;
    --highlight-2: #9BF4DC;
    --highlight-3:#3745E4;
    --light-accent: #AF473C;
    --dark-accent: #AD6C71;
}


body {
  margin: 0;
  font-family: 'Raleway', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--white);
  color: var(--body-text);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
